<div class="container">
    <h3 class="text-center">Find your job</h3>
    @for (job of jobList; track $index) {
       <div class="row">
        <div class="col-md-1">
       <img style="max-height: 50px !important;" src="{{job.companyLogo}}" alt="image"/>
        </div>
        <div class="col-md-11">
            <h5> {{ job.title }}</h5> 
            <div class="row ml-0">
            
                 <p>Company: {{job.companyName}} &nbsp; &nbsp; &nbsp;  Reference: {{job.reference}}</p>
            
            </div>
        </div>
       </div>
            
              
       
        }
</div>
