<div class="container">
    <div class="ml-4">
        @for (job of jobList; track $index) {
            <div class="row bordered">
             <div class="col-md-1">
            <img style="max-height: 50px !important;" src="{{job.companyLogo}}" alt="image"/>
             </div>
             <div class="col-md-10">
                <a href="/jobs/{{job.id}}">{{ job.title }}</a> 

                <!-- <button class="btn w-100" (click)="navigateToDetails($index)"><a>{{ job.title }}</a></button> -->
           
                 <div class="row ml-0">                 
                      <p>Company: {{job.companyName}} &nbsp; &nbsp; &nbsp;  Reference: {{job.reference}}</p>
                 
                 </div>
             </div>
             <div class="col-md-1">
                
                @if(favouritesJobID.indexOf(job.id)>-1){
                    <span class="icon-star active mt-2" id="star-{{job.id}}" (click)="AddOrRemoveFavourite($index)" ></span>
                }
                @else
                {
                    <span class="icon-star mt-2" id="star-{{job.id}}" (click)="AddOrRemoveFavourite($index)" ></span>
                }
             </div>
            
            </div>       
             }
    </div>  
</div>

   


