  <div class="container">
    <div class="row">
        <div class="col-md-12">          
            <button type="button" class="btn btn-light bordered">
               <a href="jobs"><i class="bi bi-arrow-left-circle-fill" style="font-size: larger;">  Back</i></a>  
              </button>
        </div>
    </div>   
    <div class="row mt-4">
    <div class="col-md-2">
        <img class="bordered" style="max-height: 150px !important;" src="{{jobDetail[0].companyLogo}}" alt="image"/>
    </div>
    <div class="col-md-10">
   <h1>{{jobDetail[0].companyName}} - {{jobDetail[0].title}}</h1>
   <div class="row">
    <div class="col-md-12">
        <button type="button" style="border-radius: 20px;" class="btn btn-primary btn-sm"><div [innerHTML]="jobDetail[0].types"></div> </button>
        <button type="button" style="border-radius: 20px;" class="btn btn-primary btn-sm"><div [innerHTML]="jobDetail[0].industries"></div></button>
    </div>
   </div>

    </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <p><b>Publish Date :</b> {{jobDetail[0].publishDate | date:"M/dd/yy"}}</p>
            <p><b>Location :</b> {{jobDetail[0].location}}</p>
            <p><b>Reference :</b> {{jobDetail[0].reference}}</p>
            <p><b>Description :</b> </p> <div [innerHTML]="jobDetail[0].description"></div>
        </div>
    </div>
  </div>